<?xml version=\"1.0\" encoding=\"UTF-8\"?>
<opml version=\"1.0\">
<head>
    <title>FeedReader Exported RSS Feeds</title>
</head>
<body>

</outline>
<outline title="{{ title }}" text="{{ title }}">

<outline title=\"$title\" text=\"$title\" type=\"rss\" htmlUrl=\"$line[1]\" xmlUrl=\"$line[2]\" />\n";
